streamlit
requests
matplotlib
python-dotenv
newsapi-python
eventregistry
torch
transformers
pandas
scikit-learn
pandas
altair
torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
git+https://github.com/huggingface/transformers
